.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 9.1vh;
}

.img{
    width: 11.2vw ;
    height: auto;
    margin-left: 9.9%;
}

.a {
    color: #17a460;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #17a460;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 6.9vw;
    height: 4.8vh;
    margin-right: 23%;
}

.a i {
    margin-right: 10%;
}